node_modules/
uploads/avatars/*
uploads/media/*
uploads/status/*
!uploads/avatars/.gitkeep
!uploads/media/.gitkeep
!uploads/status/.gitkeep
*.db
*.db-shm
*.db-wal
.env
src/config/firebase-service-account.json
